/.idea/AHS-Beamline-2024.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.vs/AHS-Beamline-2024/FileContentIndex/127374cf-e90e-49fc-bc3e-ab325297de0c.vsidx
/.vs/AHS-Beamline-2024/FileContentIndex
