.idea/AHS-Beamline-2024.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml

.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/AHS-Beamline-2024/v17/.wsuo
.vs/AHS-Beamline-2024